# Игнорировать все файлы
*

# Оставить только необходимые файлы
!.gitignore
!schemas.py
!hh_analyzer.py
!bot.py
!README.md
!requirements.txt

# Игнорировать системные и временные файлы
__pycache__/
.idea/
*.pyc
.DS_Store
